/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .privacy-header {
        margin-top: 155px;
    }
    
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .tab-content {
        margin-top: 40px;
    }
    .bordered-text {
        padding: 15px;
        padding-left: 80px;
    }
    .bordered-text i.fa {
        left: 15px;
        top: 15px;
    }
    .bordered-text:after {
        left: 60px;
    }

    .privacy-header {
        margin-top: 110px;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}