/* Base CSS */


/* @import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i'); */


/* @font-face {
    font-family: "muli";
    src: url("../fonts/Muli-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "muli";
    src: url("../fonts/Muli-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "muli";
    src: url("../fonts/Muli-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "muli";
    src: url("../fonts/Muli-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
} */

@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova-Light";
    src: url("../fonts/ProximaNova-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNove-Semibold";
    src: url("../fonts/proximaNove-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "ProximaNova-Bold";
    margin: 0 0 15px;
    /* font-weight: 700; */
}

body {
    font-family: "ProximaNova-Light";
    color: #4b4b4b;
    overflow-x: hidden;
}

a {
    font-family: "ProximaNova-Regular";
}

a:hover,
a:link,
a:visited,
a:active {
    text-decoration: none
}

.header-area {
    padding-bottom: 8px;
    padding-top: 20px;
    border-bottom: 2px solid #f73214;
}

.links {
    padding-top: 0;
}

.link-one img {
    width: auto;
}

.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #fff
}

.logo {
    position: relative;
    margin-left: 17px;
}

.logo a {
    display: inline-block;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
}

.logo img {
    margin-left: 20px;
}

.logo a .tooltiptext {
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    width: 120px;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    -webkit-transition: .3s;
    transition: .3s;
    left: 26px;
    font-size: 12px;
}

.logo a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.slogan {
    display: inline-block;
    font-size: 16px;
    padding-left: 30px;
    position: absolute;
    top: 28%;
}

.logo p.logo-text {
    /* font-weight: 400; */
    color: #333333;
    font-size: 11px;
    text-align: left;
    margin-left: 25px;
    margin-top: 4px;
}

.link-one,
.link-two,
.link-three,
.link-four {
    display: inline-block;
    padding-left: 20px;
}

.link-two img,
.link-three img,
.link-four img {
    width: 32px;
    height: 32px;
}

.links a {
    color: #333;
    font-size: 17px;
    padding: 6px;
    -webkit-transition: .4s;
    transition: .4s;
    position: relative;
}

.links a:hover:before {
    width: 50px;
    margin-left: -25px;
}

.links a:before {
    content: "";
    display: inline-block;
    height: 4px;
    background-color: #f13624;
    bottom: -9px;
    position: absolute;
    width: 0;
    left: 50%;
    margin-left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a.bold_Link {
    font-weight: 700;
}

.link-two img,
.link-three img,
.link-four img {
    width: 32px;
    height: 32px;
}


/*GALLERY-CSS*/

.gallery-section {
    background-color: #f8f8f8;
    margin-top: 91px;
}

.gallery-image-1 {
    background-image: url(../img/gallery/1.jpg);
}

.gallery-image-2 {
    background-image: url(../img/gallery/2.jpg);
}

.gallery-image-3 {
    background-image: url(../img/gallery/3.jpg);
}

.gallery-image-4 {
    background-image: url(../img/gallery/4.jpg);
}

.gallery-image-5 {
    background-image: url(../img/gallery/5.jpg);
}

.gallery-image-6 {
    background-image: url(../img/gallery/6.jpg);
}

.gallery-image-7 {
    background-image: url(../img/gallery/7.jpg);
}

.gallery-image-8 {
    background-image: url(../img/gallery/8.jpg);
}

.gallery-image-9 {
    background-image: url(../img/gallery/9.jpg);
}

.gallery-image-10 {
    background-image: url(../img/gallery/10.jpg);
}

.image-list {
    margin-left: -1%;
    margin-right: -1%;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.single-image {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;
    height: 200px;
    border: 2px solid #fff;
    width: 18%;
    float: left;
}

.single-image:nth-child(1) {
    width: 24%;
    height: 200px;
}

.single-image:nth-child(2) {
    width: 24%;
    height: 200px;
}

.single-image:nth-child(3) {
    width: 20%;
    height: 236px;
}

.single-image:nth-child(4) {
    width: 14%;
    height: 236px;
}

.single-image:nth-child(5) {
    width: 18%;
    height: 236px;
}

.single-image:nth-child(6) {
    width: 30%;
    height: 245px;
    margin-top: -36px;
}

.single-image:nth-child(7) {
    width: 18%;
    height: 245px;
    margin-top: -36px;
}

.single-image:nth-child(8) {
    width: 18%;
    height: 210px;
}

.single-image:nth-child(9) {
    width: 17%;
    height: 210px;
}

.single-image:nth-child(10) {
    width: 17%;
    height: 210px;
}

.mission h3 {
    padding: 6px;
    margin: 30px auto;
    text-align: center;
    font-size: 26px;
    width: 54%;
    line-height: 1.5;
    font-style: italic;
    /* font-weight: 600; */
}

.mision-description p {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    padding: 6px 15px;
    /* font-weight: 300; */
}

.mission-item-one,
.mission-item-two,
.mission-item-three {
    display: inline-block;
    text-align: center;
    margin-top: 60px;
}

.mission-item h3 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 24px;
    /* font-weight: 600; */
}

.mission-item p {
    color: #515151;
    font-size: 20px;
    line-height: 1.6;
    /* font-weight: 300; */
    padding: 0 10px;
}

.mission-item img {
    width: 100%;
    height: 220px;
    background-color: #333;
    background-size: cover;
}

.section-four {
    margin-top: 70px;
    background-color: #fbfbfb;
    padding: 20px;
}

.section-six {
    margin-top: 50px;
    background-color: #fbfbfb;
    padding: 20px;
}

.section-five {
    margin-top: 50px;
    padding: 20px;
}

.section-four,
.section-five,
.section-six {
    text-align: center;
}

.section-four h2,
.section-five h2,
.section-six h2 {
    color: #4b4b4b;
    padding-top: 20px;
    font-size: 30px;
    position: relative;
    padding-bottom: 10px;
    /* font-weight: 600; */
}

.section-four h2:after,
.section-five h2:after,
.section-six h2:after {
    position: absolute;
    content: "";
    background-color: #f73214;
    width: 12%;
    height: 4px;
    bottom: 0%;
    left: 44%;
    padding-top: -6px;
}

.section-four p,
.section-five p,
.section-six p {
    color: #4b4b4b;
    padding-top: 30px;
    font-size: 20px;
    line-height: 1.8;
    /* font-weight: 300; */
}

.section-six h3 {
    padding: 6px;
    margin: 30px auto;
    text-align: center;
    font-size: 26px;
    line-height: 1.5;
    font-style: italic;
    /* font-weight: 700; */
}


/* FOOTER AREA */

.footer-area {
    background: #2e2d2d;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}

.logo-footer {
    margin-bottom: 30px;
    -webkit-transition: .3s;
    transition: .3s;
}

.logo-footer:hover {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.logo-footer img {
    max-height: 48px;
}

.colored-text {
    color: #ffb500;
    /* font-weight: 700; */
}

.footer-area h5 {
    font-size: 16px;
    color: #aaaaaa;
    /* font-weight: 700; */
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 15px;
}

.footer-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-area li a {
    color: #858383;
    -webkit-transition: .3s;
    transition: .3s;
    line-height: 1.7;
}

.footer-area li a:hover {
    color: #fff;
}

.footer-area p {
    padding-right: 90px;
}

.copyright-area {
    background: #2e2d2d;
    color: #fff;
    font-size: 14px;
    padding: 25px 0;
    position: relative;
}

.copyright-text p {
    margin: 0;
}

.copyright-area a {
    color: #868484;
    -webkit-transition: .3s;
    transition: .3s;
}

.copyright-area a:hover {
    color: #fff;
    border-color: #fff;
}

ul.privacy-policy,
ul.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.privacy-policy li,
.social-links li {
    display: inline-block;
}

.copyright-icon {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* font-weight: 700; */
}

.privacy-policy li a {
    padding-left: 20px;
}

.social-links li a {
    text-align: center;
    display: block;
    margin-left: 25px;
    -webkit-transition: .3s;
    transition: .3s;
}

.social-links li a:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.privacy-policy li a,
.copyright-text {
    padding-top: 11px;
    display: block;
}

.copyright-area:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: #000;
    width: 100%;
    height: 1px;
    opacity: .2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}


/* RESPONSIVE-MENU */

.responsive-menu-trigger a.menu-trigger {
    display: none;
    right: 2%;
    top: 4%;
    padding: 16px;
    position: fixed;
    z-index: 3;
}

.responsive-menu-trigger a.menu-trigger span {
    display: block;
    height: 2px;
    width: 22px;
    background: #333;
    margin-bottom: 4px;
}

.responsive-menu-trigger.active {
    display: none;
    -webkit-transition: .4s;
    transition: .4s;
}

.off-canvas-menu {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 3;
    background: #2e2d2d;
    margin-top: -600px;
    -webkit-transition: .5s;
    transition: .5s;
}


/* .trust-page{
    display: none;
    position: fixed;
    width: 100%;
    z-index: 3;
    background: #2e2d2d;
    margin-top: -600px;
    -webkit-transition: .5s;
    transition: .5s;
} */

ul.off-canvas-main-menu {
    margin-top: 0px;
}

ul.off-canvas-main-menu li {
    list-style: none;
    display: block;
    /* border-bottom: 1px solid #ececec; */
    margin-left: -40px;
    padding: 6px;
    margin-top: 4px;
}

ul.off-canvas-main-menu li a {
    color: #fff;
    font-size: 17px;
    padding: 6px;
    -webkit-transition: .4s;
    transition: .4s;
    position: relative;
    vertical-align: middle;
}

ul.off-canvas-main-menu li:last-child a {
    font-weight: 800;
}

.off-canvas-link-one,
.off-canvas-link-two,
.off-canvas-link-three,
.off-canvas-link-four {
    padding-left: 6px;
}

.off-canvas-link-two img,
.off-canvas-link-three img,
.off-canvas-link-four img {
    width: 32px;
    height: 32px;
}

.off-canvas-link-one img {
    width: 32px;
    height: 50px;
}

.menu-close {
    /* top: 2%; */
    right: -13px;
    /* margin-left: 30px; */
    float: right;
    padding-left: -9px;
    margin-left: 60px;
    margin-right: 28px;
    font-size: 30px;
    margin-top: 20px;
    z-index: 4;
    cursor: pointer;
}

.off-canvas-menu.active {
    display: block;
    margin-top: -120px;
    padding-top: 20px;
    z-index: 99;
}


/* .trust-page.active{
    display: block;
    margin-top: -100px;
    padding-top: 40px;
    z-index: 99;
} */


/* .menu-close .span-1{
    display: block;
    height: 2px;
    width: 30px;
    background: #333;
    transform: rotate(40deg);
}


.menu-close .span-2{
    display: block;
    height: 2px;
    width: 30px;
    background: #333;
    transform: rotate(140deg);
} */

.menu-close img {
    width: 16px;
    height: 16px;
}
