= link_to view, class: 'btn btn-xs btn-default', title: 'View', 'data-toggle': 'tooltip' do
	%i.ti-eye
= link_to edit, class: 'btn btn-xs btn-primary', title: 'Edit', 'data-toggle': 'tooltip' do
	%i.ti-pencil
= link_to destroy, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger', title: 'Delete', 'data-toggle': 'tooltip' do
	%i.ti-trash
